[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Cross platform library containing set of useful operations for storage devices.
[access "refs/*"]
	owner = group user/Muhammad Ahmad (xahmad)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Muhammad Ahmad (xahmad)
	label-Verified = -1..+1 group user/Muhammad Ahmad (xahmad)
	push = group user/Muhammad Ahmad (xahmad)
	read = group user/Muhammad Ahmad (xahmad)
	rebase = group user/Muhammad Ahmad (xahmad)
	removeReviewer = group user/Muhammad Ahmad (xahmad)
	submit = group user/Muhammad Ahmad (xahmad)
[access "refs/heads/*"]
	create = group user/Muhammad Ahmad (xahmad)
	push = +force group user/Muhammad Ahmad (xahmad)
	pushMerge = group user/Muhammad Ahmad (xahmad)
	read = group user/Muhammad Ahmad (xahmad)
[access "refs/tags/*"]
	push = group user/Muhammad Ahmad (xahmad)
	push = +force group user/Muhammad Ahmad (xahmad)
